@Master['_GuestLayout.html'];
@Section['Body']
 <div class="jumbotron" id="what-is-gittu">
	<h1>What is Gittu?</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, vero, deleniti, fugiat suscipit labore facilis nihil voluptatibus inventore nam vitae doloremque ratione nulla quae maiores quidem dolorem expedita animi reprehenderit.
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa, architecto, velit, sapiente eligendi saepe provident voluptatum laudantium dicta unde totam magni reprehenderit. Vitae, officia, veritatis quis culpa quasi doloribus.
	</p>
</div>
@EndSection